* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  min-height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.grid__title {
  width: 100%;
  padding: 4rem 1% 2rem;
  clear: both;
  margin: 0;
  text-align: center;
}
.grid figure {
  position: relative;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  max-width: 480px;
  min-width: 320px;
  min-height: 360px;
  background: #3085a3;
  cursor: pointer;
  @media (max-width: 320px) {
    min-width: unset;
  }
}

figure .caption::before,
figure .caption::after {
  pointer-events: none;
}

.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
} 

.caption {
  padding: 2em;
  color: white;
  text-transform: uppercase;
  font-size: 1.25em;
	backface-visibility: hidden;
}

.caption,
.link {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.link {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.title {
  white-space: -0.15em;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 24px;
}
.title span {
  font-weight: 800;
}
.title,
.desc {
  margin: 0;
  transition: 0.35s;
}
.desc {
  font-size: 12px
}
