@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');


body {
  font-family: 'Raleway', sans-serif;
  background: #2f3238;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
}



